body{
  background: #EFEFF2;
  margin: 0;
  color: #19191C;
  font: 400 18px/28px Inter, sans-serif;
}
.container{
  width: 1440px;
  margin: 0 auto;
}
.header{
  display: flex;
  padding: 36px 0 0;
  justify-content: space-between;
}
.header-box{
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav-list{
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  gap: 48px;
  padding: 0;
  margin: 0;
}
.bnt-box{
  display: flex;
  gap: 48px;
  align-items: center;
}
.logo{
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  display: flex;
  gap: 14px;
  color: #19191C;
  text-decoration: none;
}
.link{
  color: #19191C;
  text-decoration: none;
}
.header__link{
  color: #19191C;
  text-decoration: none;
  font-weight: 600;
  line-height: 22px;
  font-size: 18px;
}
.header__btn{
  background-color: #19191C;
  color: #EFEFF2;
  padding: 12px 37px;
  text-decoration: none;
  font-weight: 700;
  line-height: 22px;
  font-size: 18px;
}


.footer {
  background: #19191C;
  margin: 0;
  color: #EFEFF2;
  font: 400 18px/28px Inter, sans-serif;
}

/* Основная часть футера */
.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin-bottom: 30px;
}

/* Логотип и контакты */
.footer__logo-box {
  flex: 1; /* Занимает равное пространство с остальными блоками */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Совместно с align-items в .footer__main выравнивает блок */
  gap: 10px; /* Равномерный отступ между элементами */
}

.footer__logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 21.78px;
  align-items: center;
  display: flex;
  gap: 14px;
  color: #FBFBFC;
  text-decoration: none;
}


.footer__contact {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FBFBFC;
  text-decoration: none;
  margin: 5px 0;
}

/* Сайтмап */
.footer__sitemap {
  display: flex;
  flex: 3; /* Занимает больше пространства */
  justify-content: space-around; /* Равномерное распределение колонок */
}

.sitemap {
  text-align: left;
}

.sitemap__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #FBFBFC;
  margin-bottom: 10px;
}

.sitemap__list {
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitemap__list li {
  margin-bottom: 5px;
}

.sitemap__list a {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #EFEFF2;
  text-decoration: none;
}

.sitemap__list a:hover {
  color: #FBFBFC;
}

/* Нижняя часть футера */
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6D6D77;
}

.footer__privacy {
  color: #6D6D77;
  text-decoration: none;
}

.footer__privacy:hover {
  color: #FBFBFC;
}
