body{
  background: #EFEFF2;
  margin: 0;
  color: #19191C;
  font: 400 18px/28px Inter, sans-serif;
}
.container{
  width: auto;
  margin: 0 auto;
}
.header{
  display: flex;
  padding: 36px 0 0;
  justify-content: space-around;
}
.header-box{
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav-list{
  display: flex;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  gap: 48px;
  padding: 0;
  margin: 0;
}
.bnt-box{
  display: flex;
  gap: 48px;
  align-items: center;
}
.logo{
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  display: flex;
  gap: 14px;
  color: #19191C;
  text-decoration: none;
}
.link{
  color: #19191C;
  text-decoration: none;
}
.header__link{
  color: #19191C;
  text-decoration: none;
  font-weight: 600;
  line-height: 22px;
  font-size: 18px;
}
.header__btn{
  background-color: #19191C;
  color: #EFEFF2;
  padding: 12px 37px;
  text-decoration: none;
  font-weight: 700;
  line-height: 22px;
  font-size: 18px;
}


.footer {
  background: #19191C;
  margin: 0;
  color: #EFEFF2;
  font: 400 18px/28px Inter, sans-serif;
  width: auto;
  height: 500px;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
}

.footer__logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 21.78px;
  align-items: center;
  display: flex;
  margin-bottom: 28px;
  color: #FBFBFC;
  text-decoration: none;
}

.footer__contact {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FBFBFC;
  text-decoration: none;
}

.footer__sitemap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.sitemap__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #FBFBFC;
  margin-bottom: 28px;
}

.sitemap__list {
  font-weight: 400;
  list-style: none;
  gap: 12px;
  padding: 0;
  margin: 0;
}


.sitemap__list a {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #EFEFF2;
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 62px;
  margin-top: 100px;
  color: #6D6D77;
}

.footer__privacy {
  color: #6D6D77;
  text-decoration: none;
}
